<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>404</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link href="/css/mainc.css" rel="stylesheet" type="text/css">
	</head>
	<body>
        <div id="background">
            <div class="login">
                <h1>404</h1>
                <h2>Oops! We have an error</h2>
                <h3>Lost your path? <br> Sorry, we can't find that page</h3>
            </div>
        </div>
	</body>
</html>